body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    /* font-size: 14px; */
    /* ルート要素のフォントサイズを1rem=14pxと定義する */
}

#canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 0;
}